@model ShahanStore.RazorPage.Models.Commands.Categories.AddChildCategoryDto

<form asp-page="Index" asp-page-handler="AddChildPartial" method="post" enctype="multipart/form-data">
    <div class="card">
        <div class="card-header border-bottom border-dashed">
            <h4 class="card-title">اطلاعات مربوط به دسته‌بندی</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6" hidden>
                    @Html.EditorFor(c => c.ParentId)
                </div>
                <div class="col-lg-6">
                    @Html.EditorFor(c => c.Title)
                </div>
                <div class="col-lg-6">
                    @Html.EditorFor(c => c.Slug)
                </div>
                <div class="col-lg-6">
                    @Html.EditorFor(c => c.BannerImg)
                </div>
                <div class="col-lg-6">
                    @Html.EditorFor(c => c.Icon)
                </div>
                @Html.EditorFor(c => c.SeoData)
            </div>
        </div>

        <div class="card-footer border-top border-dashed text-end">
            <div class="d-flex justify-content-end gap-1">
                <button type="submit" class="btn btn-primary">افزودن زیردسته‌بندی</button>
                <a data-bs-dismiss="modal" class="btn btn-danger"> لغو</a>
            </div>
        </div>
    </div>
</form>